Binaries
DerivedDataCache
Intermediate
Saved
Content/AdvancedVillagePack
Content/Maps
Content/AnimalVarietyPack
Content/PN_OpenWorldFoliage
Content/StarterContent
Content/Particles_Wind_Control_System
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace